<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vello.test.nzweatherapp">

    <application
        tools:replace="name"
        android:name=".app.DebugWeatherApp"/>

</manifest>